.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99vh;
    flex-direction: column;
}

ul {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 0;
    list-style-type: none;
    gap: 1rem;
    justify-content: center;
    max-width: 1000px; 
}

a {
    color: rgb(50, 50, 50);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(200, 200, 200);
}

body {
    font-family: 'Inconsolata', sans-serif;
}